@tailwind base;
@tailwind components;
@tailwind utilities;



body{
background-color: '#06090C';
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}



@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
@layer base {
  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-UltraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-Heavy.otf') format('opentype');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GIP';
    src: url('/fonts/GIP-HeavyItalic.otf') format('opentype');
    font-weight: 950;
    font-style: italic;
    font-display: swap;
  }
}